
.header-top {
    height: 50px;
    width: 100%;
    background-color: $main-color;

    .top-left {
        ul {
            display: flex;
            gap: 15px;
            margin-top: 12px;

            li {
                list-style: none;

                a {
                    @include header-a-design;

                    &:hover {
                        color: gray;
                    }
                }
            }
        }

    }

    .top-right {

        .right-left {
            a {
                @include header-a-design
            }

            ul {
                display: flex;
                gap: 7px;
                margin-top: 12px;
                margin-left: 40px;

                li {
                    list-style: none;

                    i {
                        font-size: 10px;
                    }
                }

            }

        }

        .right-middle {
            a {
                @include header-a-design
            }

            ul {
                display: flex;
                gap: 10px;
                margin-top: 12px;


                li {
                    list-style: none;
                }

            }
        }

        .right-right {

            ul {
                display: flex;
                gap: 7px;
                margin-top: 12px;
                margin-right: 30px;

                li {
                    list-style: none;

                    a {
                        @include header-a-design;
                    }
                }
            }


        }


    }
}

.header-middle {

    .logo {
        img {
            height: 50px;
            width: 263px;
            margin-top: 40px;
        }
    }

    .search {
        position: relative;

        input {
            height: 40px;
            width: 242px;
            border: 1px solid $main-color;
            margin-top: 40px;


        }

        i {
            position: absolute;
            top: 53px;
            right: 75px;

        }
    }

    .work-time {
        margin-left: 20px;

        h1 {
            margin-top: 20px;
            color: $main-color;
            @include common-font;
            font-weight: bold;
            font-size: 35px;
        }

        h6 {
            color: rgb(146, 143, 143);
            font-size: 13px;
            @include common-font;

        }
    }

    .basket {
        ul {
            margin-top: 40px;
            display: flex;
            gap: 5px;

            li {
                list-style: none;


                button {
                    background-color: $main-color;
                    border: 1px solid $main-color;
                    height: 40px;
                    width: 40px;

                }
            }
        }
    }
}

.header-down {
    border-bottom: 1px solid rgb(154, 153, 153);

    ul {
        display: flex;
        margin-top: 30px;
        gap: 30px;
        

        li {
            list-style: none;
            @include common-font;

            a{
                text-decoration: none;
                color: black;
                transition: all 1;

                &:hover{
                    color: $main-color;
                }
            }
        }
    }

}